.img {
  width: 50px;
  margin: 0px, 30px 30px;
}

.icon {
  margin: 0px, 30px 30px;
}

.stack {
  max-width: 900px; /* Limita el ancho máximo */
}

/* Media query para pantallas de hasta 768px (celulares) */
@media (max-width: 768px) {
  .stack {
    max-width: 100%; /* Ocupa todo el ancho de la pantalla */
  }
}

/* Media query para pantallas de hasta 414px (iPhone XR) */
@media (max-width: 414px) {
  .stack {
    max-width: 100%; /* Ocupa todo el ancho de la pantalla */
    margin: 0 auto;
  }
}
