.footer {
  color: rgb(122, 83, 115);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
@media (max-width: 414px) {
  .footer {
    flex-direction: column;
    padding: 0.5rem;
  }
}
