/* Estilos generales para la galería */
.Galery {
  max-width: 900px; /* Limita el ancho máximo */
}

/* Media query para pantallas de hasta 768px (celulares) */
@media (max-width: 414px) {
  .Galery {
    max-width: 100%; /* Ocupa todo el ancho de la pantalla */
  }
}

/* Estilos para el párrafo */
.p {
  margin-top: 10px;
  text-decoration: underline double;
  text-decoration-color: white; /* color del subrayado */
  text-decoration-thickness: 1px; /* grosor del subrayado */
  color: #9ba4b5;
  font-size: 2em;
  justify-content: center;
  display: flex;
  text-align: center; /* Alinea el texto al centro */

  /* Media query para pantallas entre 768px y 1024px (tablets) */
  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 3em;
  }
}
/* Media query para pantallas de hasta 414px (iPhone XR) */
@media (max-width: 414px) {
  .Galery {
    max-width: 100%; /* Ocupa todo el ancho de la pantalla */
    margin: 0 auto;
  }
}
