.avatar {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 70px;
  height: 70px;
}

.h2 {
  margin-top: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  color: rgb(9, 10, 10);
}

/* Media query para pantallas de hasta 414px (iPhone XR) */
@media (max-width: 414px) {
  .avatar {
    max-width: 100%; /* Ocupa todo el ancho de la pantalla */
    margin: 0 auto;
  }
}
/* Media query para pantallas de hasta 768px (celulares) */
@media (max-width: 768px) {
  .avatar {
    max-width: 100%; /* Ocupa todo el ancho de la pantalla */
  }
}
