*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --border: hsl(289, 71%, 85%);
  --card: hsl(0 0% 98%);
  --element: hsl(0 0% 90%);
  --accent: hsl(319, 24%, 57%);
  --panel: hsl(240 38% 98%);
}

html {
  color-scheme: light only;
}

body {
  min-height: 100vh;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
  timeline-scope: --scroller;
  overflow-x: hidden;
  margin: 0;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #222;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 110%;
  font-weight: 400;
  line-height: 150%; */
}

body::before {
  --size: 60px;
  --line: hsla(277, 86%, 28%, 0.15);
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-15deg, transparent 30%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}

header {
  min-height: 200vh;
  position: relative;
  width: 100%;
}

footer {
  padding: 1rem;
  display: grid;
  place-items: center;
}

h2 {
  margin-top: 0;
  font-size: clamp(1.5rem, 3vw + 1rem, 8rem);
}

section {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  padding: 0.25rem;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 20;
}

.navbar {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  width: 80ch;
  max-width: 100%;
}

nav button {
  width: 44px;
  aspect-ratio: 1;
}

.hero {
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  z-index: 3;
  padding-top: 2rem;
}

@supports (animation-timeline: scroll()) {
  .hero {
    position: absolute;
  }
}

.sticker {
  width: 100%;
  min-height: 100vh;
  position: sticky;
  top: 0;
  z-index: 2;
}

.scroller {
  position: relative;
  min-height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  view-timeline: --scroller;
}

.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.hero p {
  font-size: 1.25rem;
  max-width: 75%;
  text-align: center;
  margin: 0 auto;
}

.hero a {
  color: canvas;
  background: var(--accent);
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 100px;
  font-weight: bold;
  position: relative;
}

.hero a::after {
  content: "";
  position: absolute;
  inset: 0;
  background: hsl(0 0% 100% / 0);
}

.hero a:is(:hover, :focus-visible)::after {
  background: hsl(0 0% 100% / 0.1);
}

.panel {
  width: clamp(320px, 50vw, 750px);

  max-width: calc(100vw - 2rem);
  border-radius: 18px;
  border: 2px solid var(--accent);
  display: grid;
  grid-template-rows: repeat(6, 60px);
  gap: 1rem;
  text-align: center;
  padding: 2rem;

  box-shadow: 0 32px 32px rgba(23, 22, 24, 0.04),
    0 16px 16px rgba(23, 22, 24, 0.04), 0 8px 8px rgba(23, 22, 24, 0.04);
}

.scroller .panel {
  background: var(--panel);
}

.panel__row {
  container-type: size;
  display: flex;
  justify-content: center;
}

.panel {
  --span: max(45vw, 260px);
}

.scroller .panel div {
  display: none;
}

main {
  height: 100vh;
}

.sticker .panel {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}
@media (max-width: 414px) {
  body {
    font-size: 14px;
  }

  h2 {
    font-size: 24px;
  }

  .navbar {
    flex-direction: column;
  }

  nav button {
    width: 100%;
  }

  .hero {
    padding-top: 1rem;
  }

  .hero p {
    font-size: 18px;
  }

  .hero a {
    padding: 0.5rem 1rem;
  }

  .panel {
    width: 90%;
  }
}

/* Card wizardry */
:root {
  --entity-size: 30px;
}

.card {
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  height: 100cqh;
  background: var(--card);
  border: 1px solid var(--border);
  box-shadow: 0 3px 4px rgba(23, 22, 24, 0.04), 0 1px 2px rgba(23, 22, 24, 0.04);
}

.card__column {
  width: 100cqh;
  height: 100cqh;
  display: grid;
  place-items: center;
  position: relative;
}

.card__column:last-of-type {
  align-self: flex-end;
}

.card__avatar {
  height: var(--entity-size);
  aspect-ratio: 1;
  background: var(--element);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.card__avatar * {
  position: absolute;
  inset: 0;
  width: 100%;
  object-fit: cover;
}

.card--one .card__column:first-of-type,
.card--four .card__column:first-of-type,
.card--two .card__column:first-of-type {
  align-self: center;
}
.card__content {
  flex: 1;
}

.card__details {
  height: 100cqh;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 58cqi;
  position: relative;
}

@media (max-width: 414px) {
  :root {
    --entity-size: 20px;
  }

  .card {
    flex-direction: column;
    align-items: center;
  }

  .card__column {
    width: 100%;
    height: auto;
  }

  .card--one .card__column:first-of-type,
  .card--four .card__column:first-of-type,
  .card--two .card__column:first-of-type {
    align-self: flex-start;
  }

  .card__details {
    flex-direction: column;
    height: auto;
    max-width: 100%;
  }
}

/* Animations */
@supports (animation-timeline: scroll()) {
  .card--one {
    --x: calc(var(--span) * -1);
    --y: -10%;
    --r: -8deg;
    --h: 160%;
    --w: max(55cqi, 320px);
  }

  .card--two {
    --x: calc(var(--span) * -1);
    --y: -30%;
    --r: 6deg;
    --h: 300%;
    --w: max(55cqi, 330px);
  }

  .card--three {
    --x: calc(var(--span) * 1);
    --y: -50%;
    --r: 15deg;
    --h: 360%;
    --w: max(30cqi, 220px);
  }

  .card--four {
    --x: calc(var(--span) * 1);
    --y: 10%;
    --r: 10deg;
    --h: 160%;
    --w: max(55cqi, 320px);
  }

  .card--five {
    --x: calc(var(--span) * -1);
    --y: -45%;
    --r: -20deg;
    --h: 525%;
    --w: max(30cqi, 160px);
  }

  .card--six {
    --x: calc(var(--span) * 1);
    --y: -30%;
    --r: -5deg;
    --h: 400%;
    --w: max(45cqi, 305px);
  }

  .card {
    animation: grow both linear;
    animation-timeline: --scroller;
    animation-range: entry 0% exit 0%;
  }
}

.card__content {
  animation: slide both linear;
  animation-timeline: --scroller;
  animation-range: entry 0% exit 0%;
}

.card--one .card__avatar,
.card--four .card__avatar {
  --s: 2;
  transform-origin: 0 50%;
  animation: morph both linear;
  animation-timeline: --scroller;
  animation-range: entry 0% exit 0%;
}

.card--two .card__avatar {
  position: absolute;
  z-index: 4;
  left: 1rem;
  animation: shrink both linear;
  width: var(--entity-size);
  animation-timeline: --scroller;
  animation-range: entry 0% exit 0%;
  max-width: calc(100cqi - 2rem);
}

.card--two .card__column:last-of-type,
.card--three .card__column:last-of-type,
.card--five .card__column:last-of-type {
  align-self: flex-start;
  animation: slide both linear;
  animation-timeline: --scroller;
  animation-range: entry 0% exit 0%;
}

.card--six .card__column:last-of-type {
  align-self: start;
  width: auto;
  min-width: 60px;
}
.card--six .card__column:last-of-type .card__company {
  animation: cta-morph both linear, color-in both linear;
  animation-timeline: --scroller;
  animation-range: entry 0% exit 0%;
  border-radius: 100px;
  width: var(--entity-size);
}

.card--three .card__dummy,
.card--five .card__dummy,
.card--six .card__dummy {
  width: 30cqi;
  min-width: 220px;
  position: absolute;
  left: 0;
  top: 100%;
  height: 260%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.card--five .card__dummy {
  height: 425%;
}

.card--six .card__dummy {
  height: 280%;
}

.card--three .text:last-of-type {
  width: 45%;
}

.card--five .card__dummy,
.card--six .card__dummy {
  gap: 1rem;
  width: 34cqi;
  animation: expand both linear;
  animation-timeline: --scroller;
  animation-range: entry 0% exit 0%;
}

.card--six .card__dummy {
  --w: 250px;
}

.card--six .grid__panel {
  aspect-ratio: 2 / 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
  width: calc(100% - 4rem);
}

.grid__panel {
  aspect-ratio: 1;
  background: var(--element);
  border-radius: 12px;
}

.ring {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  translate: 0 0%;
}

.ring--over {
  z-index: 10;
}

.ring--over img {
  clip-path: inset(50% 0 0 0);
}

.ring img {
  filter: hue-rotate(30deg);
  width: 100%;
  min-width: 700px;
  max-width: 1400px;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  object-fit: cover;
}

@keyframes grow {
  0% {
    translate: var(--x, 0) var(--y, 0);
    height: var(--h, 100%);
    rotate: var(--r, 0);
    width: var(--w, 10cqi);
  }
  15% {
    rotate: var(--r, 0);
  }
  30% {
    rotate: 0deg;
    height: var(--h, 100%);
    width: calc(var(--w, 10cqi));
    translate: 0 var(--y, 0);
  }
}

@keyframes morph {
  0% {
    scale: var(--s);
  }
}

@keyframes slide {
  0%,
  30% {
    translate: 0 -100cqh;
  }
  100% {
    translate: 0 0;
  }
}
@media (max-width: 414px) {
  :root {
    --entity-size: 20px;
  }

  .card {
    flex-direction: column;
    align-items: center;
  }

  .card__column {
    width: 100%;
    height: auto;
  }

  .card__avatar {
    height: var(--entity-size);
  }

  .card--one .card__avatar,
  .card--four .card__avatar {
    --s: 1.5;
  }

  .card--two .card__avatar {
    left: 0.5rem;
    width: var(--entity-size);
    max-width: calc(100cqi - 1rem);
  }

  .card--two .card__column:last-of-type,
  .card--three .card__column:last-of-type,
  .card--five .card__column:last-of-type {
    align-self: center;
  }

  .card--six .card__column:last-of-type {
    min-width: 30px;
  }

  .card--six .card__column:last-of-type .card__company {
    width: var(--entity-size);
  }

  .card--three .card__dummy,
  .card--five .card__dummy,
  .card--six .card__dummy {
    width: 20cqi;
    min-width: 140px;
    height: 130%;
  }

  .card--five .card__dummy {
    height: 212.5%;
  }

  .card--six .card__dummy {
    height: 140%;
  }

  .card--three .text:last-of-type {
    width: 22.5%;
  }

  .card--five .card__dummy,
  .card--six .card__dummy {
    width: 17cqi;
  }

  .card--six .card__dummy {
    --w: 125px;
  }

  .grid {
    width: calc(100% - 2rem);
  }

  .ring img {
    min-width: 350px;
    max-width: 700px;
  }
}
