.boton {
  background-color: #c1ece400;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  font-size: 30px;
  transition: box-shadow 0.3s ease;
  border: none;
}
.boton:hover {
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.93); /* Iluminar el borde al pasar el cursor */
}

.div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.a {
  text-decoration: none;
  color: black;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
  timeline-scope: --scroller;
}
